<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/hclibraries/" class="fa fa-facebook"></a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/hclibraries?lang=en" class="fa fa-twitter"></a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/hclibraries/" class="fa fa-instagram"></a>
      
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.haverford.edu/library/digital-scholarship"> Haverford College Digital Scholarship</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->