{% load staticfiles %}

 <header>
          <div class = "overlay-container">
            <img src="{% static "img/special_collections.jpg" %}" width="1090" height="450" alt="Header img" />
                <br>
                <br>
                <!-- Page Content -->
  <div class="container">

    <h2 class='my-4'>Introduction</h2>
	
	<p> Welcome to the Quaker Necrology Database. This database includes the index of death notices and obituaries from Quaker periodicals from 1828 to the present. The database serves as an index and not a complete abstract of the information found in each obituary. It includes the information that we thought was necessary for the purposes of identification. That information includes the fullnames, dates of birth and death, and the Quaker periodicals. Below are the titles of these periodicals:</p>
         <ul>
         	<li>The American Friend 1894-1960 (Five Years Meeting – Orthodox)</li>
         	<li>Evangelical Friend 1905-1914, 1929-1994 (Ohio)</li>
         	<li>Friend Bulletin 1934-2008 (Pacific Yearly Meeting)</li>
         	<li>Friends Weekly Intelligencer 1844-1853 (Philadelphia, Pa.- Hicksite)</li>
         	<li>Friends Intelligencer 1853-1885 (Philadelphia, Pa.)</li>
         	<li>Friends Intelligencer and Journal 1888-1901 (Philadelphia, Pa.)</li>
         	<li>Friends Intelligencer 1902-1955 (Philadelphia, Pa.)</li>
         	<li>Friends Review 1848-1894 (Philadelphia, Pa.)</li>
         	<li>Friends Journal 1955-2012 (Philadelphia, Pa.)</li>
         	<li>Quaker Life 1960-2012 (Friends United Meeting, Indiana)</li>
         </ul>
 

	<p>The record reference detailed above were obtained from a set of cards from the Special Collections at Haverford College Libraries. Each index card typically includes: name of the deceased, birth and death years (where available), and the title of the periodical the death notice appeared in, including page number.</p>
	
	<p>Quaker Necrology Database also allows users to send suggestions or comments on matters related to the Quakers enlisted. We welcome anyone with any additional information/suggestions to contact us.</p>
    
   </div>
   
 </header>