{% extends 'base.html' %}

<!---replace block from html --->
{% block body %}

  <div class="add_buttons">

    <div class="button-group">
      <a href="{% url 'display_quaker' %}" class="btn btn-primary btn-md btn-trim" role="button"> Quakers</a>
      <a href="{% url 'add_person' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      
    </div>

  </div>

  <div>

    <h4>Currently Viewing {{ header }}</h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>lastname</th>
        <th>firstname</th>
      </tr>
    </thead>

    <!---display in the template body--->
    <tbody>
	  
	  {% for quaker in quakers %} <!---treat quakers as list--->

	  <tr>
	    <td>{{ quaker.pk }} <!---primary key will be automatically added by django models--->
	    <td>{{ quaker.lastname }}</td>
	    <td>{{ quaker.firstname }}</td>
	  </tr>

	  {% endfor %}
      
    </tbody>
  </table>
 

  
 

{% endblock %}