{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1><center>List of Quakers to Explore</center></h1>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script scr="//code.jquery.com/jquery-3.3.1.js"></script>

<!-- define how you want the headers of the DataTables to display -->
<table class="table table table-striped ">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>Quaker_Periodical</th>
            <th>Publication_Year</th>
            <th>Volume</th>

        </tr>
    </thead>

</table>


<!-- load the following javascript library files -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script>


  $(document).ready(function() {
      //all the data from person_json will automatically fill the body part of the table
      // DataTable
      var table = $('.table').DataTable({
          // ...
          "processing": true,
          "serverSide": true,
          "ajax": "{% url 'person_json' %}",

      } );
  
  } );
  
  
  </script>
  
{% endblock page_content %}