{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1><strong><center>Dictionary of Quaker Biography</center></strong></h1>

{% include 'header.html' %}

<div class="row">
{% for quaker in quakers %}
    <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ quaker.middlename }}</h5>
                <p class="card-text">{{ quaker.publication_name }}</p>
                <a href="{% url 'quaker_detail' quaker.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
    </div>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if quakers.has_previous %}
            <a href="?page={{ quakers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ quakers.number }} of {{ quakers.paginator.num_pages }}.
        </span>

        {% if quakers.has_next %}
            <a href="?page={{ quakers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}