{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ quaker.lastname }}</h1>
	<br>
 
	<h5><center><strong>Details of {{quaker.lastname}}</strong></center></h5>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<h5>First Name:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Middle Name:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Last Name:</h5>
			<p>{{quaker.lastname}}</p>
			<h5>Suffix:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Birth Date:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Death Date:</h5>
			<p>{{quaker.firstname}}</p>
		</div>
		<div class="col-sm-4">
			<h5>Publication:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Publication Volume:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Publication Month:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Publication Year:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Page Number:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Volume Dump:</h5>
			<p>{{quaker.firstname}}</p>
		</div>
		<div class="col-sm-4">
			<h5>Second Publication:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Second Volume:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Second Publication Month:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Second Publication  Year:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Page Number:</h5>
			<p>{{quaker.firstname}}</p>
			<h5>Volume Dump:</h5>
			<p>{{quaker.firstname}}</p>
		</div>
	</div>
	<br>
	<h5><center>More Information:</center></h5>
	<p><center>"Add details here"</center></p>
<h3>Leave a comment/suggestion:</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
</div>
</div>
{% endblock %}