<!doctype html>
<html>
<head>
	<title> Quaker Necrology Tables</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-table.min.css">
</head>
<body>
	<div class="container">
	<h4 class="text-center">Quakers</h4>
	<table data-toggle="table" data-url="data.json" data-search="true" data-pagination="true" data-show-columns="true" data-detail-view="true">
		<thead>
			<tr>
				<th data-field="Lastname" data-sortable="true">Lastname</th>
				<th data-field="Firstname" data-sortable="true">Firstname</th>
				<th data-field="Middlename" data-sortable="true">Middlename</th>
		</thead>
	</table>
</div>
<script src="js/jQuery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.min.js"></script>
<script>
</script>

</body>

</html>


